
# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtuelle miljøer
venv/
.venv/
env/

# IDE / editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Genererte modell-filer (kan bli store)
*.pt
*.joblib

# Genererte plot
output/resultat_*.png

